.header__section {
  background-color: #2f8288;
  text-align: center;
  color: #fff;
  padding: 5px;
}
.nav {
  background-color: #fff;
}
.nav__container {
  display: flex;
  align-items: center;
  max-width: 1140px;
  margin: auto;
  height: 50px;
}

.nav__left {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__search {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
}

.nav__search input {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 5px;
}

.search__icon {
  cursor: pointer;
}
.nav__center {
  flex: 1;
  text-align: center;
}

.nav__center h1 a {
  color: #111;
  text-decoration: none;
}

.nav__right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav__right a {
  color: #000;
  font-weight: 500;
  font-size: 16px bold;
  padding: 5px;
  text-decoration: none;
}

.cart__icon {
  font-size: 20px;
  cursor: pointer;
}
