body{
    background: #000;
    color: aliceblue;
    
}
*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
}
.main {
    font-size: 25px;
    text-align: center;
}
.main input{
    padding: 8px;
    margin-left: 10px;
}
.main span{
    margin-left: 10px;
}
.main button{
    padding: 8px 18px;
    font-weight: 900;
    margin: 20px;
}
.navbar ul{
    display: flex;
    margin: 10px;

}
.position{
    padding: 20px;
    color: aliceblue;
    font-size: 30px;
}
.position:hover{
    padding: 10px;
    background: #fff;
    color: #000;
    font-weight: bolder;
}